.Modal {
  position: fixed;
  top: 15%;
  left: 0%;
  right: 0%;
  width: 50%;
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  padding: 0.5rem;
  background: #ececec;
  color: #111;
  font-size: 1rem;
  line-height: 1.2;
  border: 1px solid #ccc;
  border-radius: 3px;
  overflow: hidden;
}

.Overlay {
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  bottom: 0%;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  transition: all 0.5s ease-out;
}
